{% set _nothing %}{% block dp_declare %}{% endblock %}{% endset %}
{% block top %}{% endblock %}
<div class="list-pane-instance {{ add_classname }}">
	<div class="list-pane-header">
		{% block pane_header %}{% endblock %}
	</div>
	<div class="list-pane-content">
		{% block pane_content_outscroll %}{% endblock %}

		<div class="layout-content">
			<div class="dp-page-content">{% block pane_content %}{% endblock %}</div>
		</div>
	</div>
</div>