<div class="modal-dialog dp-codeeditor-modal">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="dismiss()">&times;</button>
			<h4 class="modal-title" ng-if="!is_new_email">{{ ng_var('email.display_title') }}</h4>
			<h4 class="modal-title" ng-if="is_new_email">Create new email template</h4>
		</div>
		<div class="modal-body">
			<div ng-if="is_new_email" class="editor-row" style="margin-top: 0;">
				<label style="margin-top: 0">Email File Name:</label>
				<br/>
				<input type="text" ng-model="email.email_name" class="form-control" style="width: 200px; display: inline-block" />.html
				<span class="help-block" ng-show="!email_name_error">
					Enter a file name for your email template. Valid characters are letters, numbers, hyphens, periods and underscores.
				</span>
				<span class="help-block" ng-show="email_name_error">
					<span class="text-danger" ng-show="email_name_error == 'exists'">The template name you entered already exists.</span>
				</span>
			</div>
			<p ng-if="!is_new_email && email.display_description">
				{{ ng_var('email.display_description') }}
			</p>
			<div class="editor-row">
				<label>Email Subject:</label>
				<div class="editor-wrap subject">
					<div class="editor" ng-model="email.template_code.subject" ui-ace="{
						mode: 'twig',
						useWrapMode: true,
						showGutter: false,
						theme: 'textmate',
						onLoad: aceLoadedSubject
					}"></div>
				</div>
			</div>
			<div class="editor-row">
				<label>Email Body:</label>
				<div class="editor-wrap body">
					<div class="editor" style="height: 300px;" ng-model="email.template_code.body" ui-ace="{
						mode: 'twig',
						useWrapMode: true,
						theme: 'textmate',
						onLoad: aceLoadedMessage
					}"></div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div ng-hide="saving_template">
				<button class="btn btn-warning" ng-click="revert()" ng-show="email.is_custom && email.original.exists"><i class="fa fa-step-backward"></i> Revert To Default</button>
				<button class="btn btn-danger" ng-click="revert()" ng-show="email.is_custom && !email.original.exists"><i class="fa fa-trash-o"></i> Delete Template</button>
				<button class="btn btn-success" ng-click="save()" ng-disabled="email_name_error"><i class="fa fa-save"></i> {{ phrase('agent.general.save') }}</button>
			</div>
			<div ng-show="saving_template">
				<i class="spinner-flat"></i>
			</div>
		</div>
	</div>
</div>