{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<section class="dp-paneblock dp-editpane">
		<article class="form-horizontal dp-form">
			<div class="panel panel-fill indent">
				<div class="panel-body">
					<div class="form-group">
						<h2>New Language</h2>
						<p>
							New languages can be created through our translation system at <a href="http://languages.deskpro.com/" target="_blank">http://languages.deskpro.com/</a>.
						</p>
						<p>
							You should contact us at <a href="mailto:support@deskpro.com">support@deskpro.com</a> to gain access to the translation system. We regularly ship
							updates to DeskPRO with new languages added.
						</p>
					</div>
				</div>
			</div>
		</article>
	</section>
{% endblock %}