{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<form role="form" name="form_props" ng-submit="EditCtrl.saveForm()">
		<section class="dp-paneblock dp-editpane">
			<article class="form-horizontal dp-form">
				<div class="panel panel-fill indent">
					<div class="panel-body" style="margin-bottom: 0; padding-bottom: 0;">
						<div class="form-group">
							<div class="col-lg-2">
								<h3>{{ phrase('agent.general.title') }} *</h3>
							</div>
							<div class="col-lg-10">
								<div class="inner-group" dp-error-class="form_props.title">
									<input type="text" class="form-control" name="title" ng-model="EditCtrl.form.title"
										   style="width: 50%;" required autofocus>
									<span class="help-block">
										{{ phrase('adm.ticket_filters.title_explain') }}
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-2">
								<h3>Permission</h3>
							</div>
							<div class="col-lg-10">
								<div style="line-height: 30px;">
									<label style="font-weight: normal; display: inline;"><input type="radio" ng-model="EditCtrl.form.perm_type" value="global" /> Everyone can use this filter</label>
								</div>

								<div style="line-height: 30px;">
									<label style="font-weight: normal; display: inline;"><input type="radio" ng-model="EditCtrl.form.perm_type" value="agent" /> This filter belongs to a specific agent</label>
									<select ng-model="EditCtrl.form.agent_id" ui-select2 style="width: 250px;" ng-show="EditCtrl.form.perm_type == 'agent'">
										<option ng-repeat="agent in EditCtrl.agents" value="{{ ng_var('agent.id') }}">{{ ng_var('agent.display_name') }}</option>
									</select>
								</div>

								<div style="line-height: 30px;" ng-if="EditCtrl.teams">
									<label style="font-weight: normal; display: inline;" ng-if="EditCtrl.teams"><input type="radio" ng-model="EditCtrl.form.perm_type" value="team" /> This filter belongs to a specific team</label>
									<select ng-model="EditCtrl.form.team_id" ui-select2 style="width: 250px;" ng-show="EditCtrl.form.perm_type == 'team'">
										<option ng-repeat="team in EditCtrl.teams" value="{{ ng_var('team.id') }}">{{ ng_var('team.name') }}</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-innertable">
						<div class="panel-heading">
							<h3>
								<span>Search Terms</span>
								<button dp-inhelp-btn="admin.ticket_filters.edit.search_terms"></button>
							</h3>
						</div>
						<div class="panel-help" dp-inhelp-body="admin.ticket_filters.edit.search_terms">
							<p>
								When you run this filter, only tickets that match all of the search terms defined here
								will be included in the result.
							</p>
						</div>

						<div class="dp-ob-set">
							<div class="dp-ob-setrow">
								<header>
									<em class="dp-ob-row-tag if">if</em>
									The following conditions are met:
								</header>
								<article>
									<dp-option-builder
										types-def="EditCtrl.criteriaTypeDef"
										save-target="EditCtrl.filter_criteria"
										options="{tag_first: false, tag_after: 'and'}"
										option-types="EditCtrl.criteriaOptionTypes"
									>
										<add-btn-label>Criteria</add-btn-label>
									</dp-option-builder>
								</article>
							</div>
						</div>
					</div>
				</div>
			</article>
			<footer>
				<div class="dp-content">
					<div class="text-danger ng-hide" ng-show="form_props.$attempted && form_props.$invalid">
						<p><strong>{{ phrase('adm.general.please_correct_errors') }}</strong></p>
						<ul>
							<li ng-show="form_props.title.$error.required">{{ phrase('adm.departments.title_error') }}</li>
						</ul>
					</div>

					<div class="dp-delete-control" ng-if="EditCtrl.filter.id">
						<button class="btn btn-danger" ng-click="$event.preventDefault(); $parent.ListCtrl.startDelete(EditCtrl.filter.id);">Delete</button>
					</div>

					<div class="dp-btn-controls" ng-hide="form_props.$attempted && form_props.$invalid">
						<div dp-hide-spinning="saving">
							<button class="btn btn-primary" dp-submit-form>{{ phrase('agent.general.save') }}</button>
						</div>
						<div dp-show-spinning="saving">
							<i class="spinner-flat"></i>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</form>
	<div dp-register-message="saved_filter">Filter was saved successfully.</div>
{% endblock %}