{% extends 'AdminInterfaceBundle:Layout:list.html.twig' %}
{% block listpane_content %}
	<section class="dp-paneblock dp-listpane">
		<header>
			<nav>
				<dp-order-menu ng-model="sortOrder">
					<option value="label">Label</option>
					<option value="count">Count</option>
				</dp-order-menu>
			</nav>

			<h3 ng-pluralize count="LabelsList.labels.length || 0" when="{{ ng_plural_phrase('adm.general.count_labels') }}"></h3>
		</header>
		<article>
			<ul class="dp-item-list">
				<li ng-repeat="label in LabelsList.labels | orderBy:order:orderReverse" dp-state-mark="label!:portal.feedback_labels.edit.{{ ng_var('label.label|murmurhash') }}">
					<a href="{{ ng_href('portal.feedback_labels.edit', '{label: label.label}') }}">
						<div class="pull-right">
							<span class="badge" ng-show="!delete_mode" tooltip="The number of feedback with this label" tooltip-placement="left" style="margin-top: -2px;">{{ng_var('label.count')}}</span>
							<span class="btn btn-danger btn-xs only-icon" ng-show="delete_mode" style="margin-top: -3px;"
								  ng-class="{'active':label.delete_mode}"
								  ng-click="LabelsList.startDelete(label); $event.preventDefault();"><i class="fa fa-trash-o"></i></span>
						</div>
						<h4>
							<span class="title-text">{{ng_var('label.label')}}</span>
						</h4>
					</a>
				</li>
			</ul>
			<div class="dp-add-control">
				<a class="btn btn-default" href="{{ ng_href('portal.feedback_labels.gocreate') }}" ng-class="{'active': isStateActive('.create') }"><i class="fa fa-plus"></i> {{phrase('agent.general.add')}}</a>
			</div>
		</article>
	</section>
{% endblock %}
{% block listpane_help %}
	<header>
		<h1>Labeling feedback items helps agents and users find them.</h1>
		<p>Labels are a tagging system used by agents to help organize your helpdesk content. You can add, rename or delete labels applied to feedback items here.</p>
	</header>
	<article>
		<section>
			<p>Labeling feedback items helps users navigate the portal.</p>
			<p>Labels are also used to match items when agents use Quick Search from the toolbar.</p>
		</section>
	</article>
{% endblock %}