{% extends 'AdminInterfaceBundle:Layout:app.html.twig' %}
{% block nav_content %}
	<nav class="dp-appnav">
		<ul>
			<li dp-state-mark="tickets.ticket_deps"><a href="#/tickets/ticket_deps"><i class="fa fa-briefcase"></i> <span>Departments</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.ticket_accounts"><a href="#/tickets/ticket_accounts"><i class="fa fa-envelope"></i> <span>Email Accounts</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.statuses"><a href="#/tickets/statuses"><i class="fa fa-ticket"></i> <span>Statuses</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.urgency"><a href="#/tickets/urgency"><i class="fa fa-exclamation"></i> <span>Urgency</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.fields"><a href="#/tickets/fields"><i class="fa fa-terminal"></i> <span>Fields</span><i class="fa fa-caret-right"></i></a></li>

			<li>
				<a href="#"><i class="fa fa-tasks"></i> <span>Triggers</span> <i class="fa fa-caret-down"></i></a>
				<ul dp-nav-subnav>
					<li dp-state-mark="tickets.triggers.newticket"><a href="#/tickets/triggers/newticket"><i class="fa fa-user"></i> <span>New Ticket</span><i class="fa fa-caret-right"></i></a></li>
					<li dp-state-mark="tickets.triggers.newreply"><a href="#/tickets/triggers/newreply"><i class="fa fa-group"></i> <span>New Reply</span><i class="fa fa-caret-right"></i></a></li>
					<li dp-state-mark="tickets.triggers.update"><a href="#/tickets/triggers/update"><i class="fa fa-group"></i> <span>Ticket Update</span><i class="fa fa-caret-right"></i></a></li>
				</ul>
			</li>

			<li dp-state-mark="tickets.macros"><a href="#/tickets/macros"><i class="fa fa-keyboard-o"></i> <span>Macros</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.ticket_filters"><a href="{{ ng_href('tickets.ticket_filters') }}"><i class="fa fa-filter"></i> <span>Filters</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.satisfaction"><a href="{{ ng_href('tickets.satisfaction') }}"><i class="fa fa-smile-o"></i> <span>Satisfaction</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.ticket_escalations"><a href="{{ ng_href('tickets.ticket_escalations') }}"><i class="fa fa-bolt"></i> <span>Escalations</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.slas"><a href="#/tickets/slas"><i class="fa fa-clock-o"></i> <span>SLAs</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.labels"><a href="#/tickets/labels"><i class="fa fa-tags"></i> <span>Labels</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.timelog_billing"><a href="{{ ng_href('tickets.timelog_billing') }}"><i class="fa fa-usd"></i> <span>Time Log &amp; Billing</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.email_templates"><a href="#/tickets/email_templates"><i class="fa fa-file-text"></i> <span>Email Templates</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.fwd_settings"><a href="{{ ng_href('tickets.fwd_settings') }}"><i class="fa fa-mail-forward"></i> <span>Forward Settings</span><i class="fa fa-caret-right"></i></a></li>
			<li dp-state-mark="tickets.settings"><a href="#/tickets/settings"><i class="fa fa-cog"></i> <span>Settings</span><i class="fa fa-caret-right"></i></a></li>
		</ul>
	</nav>
{% endblock %}