{% extends 'AdminInterfaceBundle:Layout:fill-page-alt.html.twig' %}
{% block alt_content %}
	<div class="dp-appalt-section">
		<header><h2>Agents</h2></header>
		<section ng-if="Home.online_agents.length">
			<header><h3>Online</h3></header>
			<article>
				<ul class="dp-icon-list with-icons x22">
					<li class="media" ng-repeat="agent in Home.online_agents">
						<i class="icon-img" bg-img="agent.picture_url_22"></i>
						<a href="{{ ng_href('agents.agents.edit', '{id:agent.id}') }}"><span class="title">{{ ng_var('agent.display_name') }}</span></a>
					</li>
				</ul>
			</article>
		</section>

		<section ng-if="Home.offline_agents.length">
			<header><h3>Offline</h3></header>
			<article>
				<ul class="dp-icon-list with-icons x22">
					<li class="media" ng-repeat="agent in Home.offline_agents">
						<i class="icon-img" bg-img="agent.picture_url_22"></i>
						<a href="{{ ng_href('agents.agents.edit', '{id:agent.id}') }}"><span class="title">{{ ng_var('agent.display_name') }}</span></a>
					</li>
				</ul>
			</article>
		</section>
	</div>

	<div class="dp-appalt-section">
		<header><h2>Invite Agent</h2></header>
		<section>
			<article>
				<form>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="new_agent.name" placeholder="Name" ng-change="new_agent.errors.name = false" />
						<span ng-show="new_agent.errors.name" class="text-danger">Please enter a name.</span>
					</div>
					<div class="form-group">
						<input type="email" class="form-control" ng-model="new_agent.email" placeholder="Email" ng-change="new_agent.errors.email = false" />
						<span ng-show="new_agent.errors.email" class="text-danger">Please enter a valid email address.</span>
					</div>
					<div dp-hide-spinning="saving_new_agent">
						<button class="btn btn-default" ng-click="$event.preventDefault(); Home.addNewAgent();">Add Agent</button>
					</div>
					<div dp-show-spinning="saving_new_agent">
						<i class="spinner-flat"></i>
					</div>
					<div class="alert alert-success" style="margin-top: 8px;" ng-show="created_agent">
						<p>
							An agent account for {{ ng_var('created_agent.name') }} was created successfully.
						</p>
						<p>
							An email with login instructions has been sent to {{ ng_var('created_agent.email') }}.
						</p>
					</div>
				</form>
			</article>
		</section>
	</div>
{% endblock %}
{% block fillpage_content %}

	<div ng-if="Home.last_login" class="alert alert-info" style="border-radius: 0; margin-bottom: 0;">
		Welcome back, {{ app.user.display_name }}.
		You last logged in <span title="{{ ng_var('Home.last_login.date_created') }}" am-time-ago="Home.last_login.date_created_d"></span>
		from {{ ng_var('Home.last_login.ip_address') }}<span ng-if="Home.last_login.hostname != Home.last_login.ip_address"> ({{ ng_var('Home.last_login.hostname') }})</span>.
		<a href="{{ ng_href('agents.login_log') }}">View login logs &rarr;</a>
	</div>

	{% if app.getSetting('core.admin_upgrade_notice') < app.getBuildTime() %}
		<div style="margin: 15px 15px 0 15px" id="admin_upgrade_notice" ng-if="!hide_admin_upgrade_notice">
			<div class="alert alert-danger" style="margin-bottom: 0; position: relative;">
				<div style="position: absolute; top: 5px; right: 11px;">
					<a href="#" ng-click="Home.dismissUpgradeNotice({{ app.getBuildTime()|default(0) }})" title="Dismiss this message" style="color: #b94a48; font-size: 20px;"><i class="fa fa-times-circle"></i></a>
				</div>
				<div style="float:left">
					<i class="fa fa-exclamation-circle" style="font-size: 40px;"></i>
				</div>
				<div style="margin-left: 50px;">
					<h3 style="margin-top: 8px;">Upgrading Your Helpdesk</h3>
					<p>
						You have just successfully upgraded to a major new version of DeskPRO.
					</p>
					<p>
						Along with new features and improvements, there have been some backwards-incompatible changes that
						you may need address.
					</p>
					<p>
						It is very important you read and understand these changes. <strong>You may need to manually reconfigure some aspects of your helpdesk.</strong>
					</p>
					<div style="margin-top: 15px;">
						<a href="https://support.deskpro.com/kb/articles/190" class="btn btn-primary btn-lg" target="_blank">Click here to read more about what has changed &rarr;</a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="dp-interface-buttons">
		<table cellspacing="35" width="100%">
			<tbody>
				<tr>
					<td class="dp-item" width="33%">
						<article><a href="/{{ path('user')|ltrim('/') }}agent/" dp-click-href="#/go_to_agent" onmouseover="$('body').addClass('agent-interface-hover');" onmouseout="$('body').removeClass('agent-interface-hover');">
							<div class="title-wrap"><h3>Agent Interface</h3></div>
							<div class="img-wrap"><img src="{{ asset('images/admin/agent-screen.png') }}" /></div>
							<strong>
								Reply to tickets and manage helpdesk content.
							</strong>
						</a></article>
					</td>
					<td class="dp-item" width="33%">
						<article onmouseover="$('body').addClass('reports-interface-hover');" onmouseout="$('body').removeClass('reports-interface-hover');"><a href="/{{ path('user')|ltrim('/') }}reports/" dp-click-href="#/go_to_reports">
							<div class="title-wrap"><h3>Reports Interface</h3></div>
							<div class="img-wrap"><img src="{{ asset('images/admin/reports-screen.png') }}" /></div>
							<strong>
								View and create reports.
							</strong>
						</a></article>
					</td>
					<td class="dp-item" width="33%">
						<article onmouseover="$('body').addClass('lic-interface-hover');" onmouseout="$('body').removeClass('lic-interface-hover');"><a href="{{ ng_href('license') }}">
							<div class="title-wrap"><h3>Billing &amp; Licensing</h3></div>
							<div class="img-wrap"><img src="{{ asset('images/admin/billing-screen.png') }}" /></div>
							<strong>
								Manage your DeskPRO license.
							</strong>
						</a></article>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class="dp-dashboard">
		<table cellspacing="15" width="100%">
			<tr>
				{# DESKRPO UPDATES #}
				<td width="50%" class="dp-item" ng-class="{'with-error': Home.latest_version_status == 'okay' && Home.latest_version.count_behind > 0 }">
					<header>
						<h3>DeskPRO Updates</h3>
					</header>
					<article style="padding: 10px;">
						<p>
							You are currently using DeskPRO version <strong>#{{ ng_var('Home.version_info.build_name') }}</strong>.
						</p>
						<div class="status-content" ng-if="Home.latest_version_status == 'okay' && Home.latest_version.count_behind > 0">
							<header>
								<div class="icon bad"><i class="fa fa-warning"></i></div>
								<strong>
									The latest version is #{{ ng_var('Home.latest_version.build_num_base') }}.
									You are behind by {{ ng_var('Home.latest_version.count_behind') }} versions.<br/>
								</strong>
							</header>
							<article>
								<p>
									<a class="btn btn-primary" href="{{ path('admin_upgrade_index') }}">Update DeskPRO Now &rarr;</a>
								</p>
							</article>
						</div>
						<div class="status-content" ng-if="Home.latest_version_status == 'okay' && Home.latest_version.count_behind < 0">
							<header>
								<div class="icon okay"><i class="fa fa-check"></i></div>
								<strong>You are up to date!</strong>
							</header>
						</div>
						<div ng-show="Home.news_status == 'okay'" class="news-content">
							<strong>News</strong>
							<ul>
								<li ng-repeat="item in Home.news">
									<i class="fa fa-caret-right"></i>
									<a ng-href="{{ ng_var('item.link') }}" target="_blank">{{ ng_var('item.title') }}</a>
								</li>
							</ul>
						</div>
					</article>
				</td>

				{# HELP #}
				<td class="dp-item">
					<header>
						<h3>Getting Help</h3>
					</header>
					<article>
						<div class="dp-mpadded">
							&bull; Visit the <a href="http://support.deskpro.com/">DeskPRO Knowledgebase</a> for how-to articles, troubleshooting guides and other help articles.
						</div>
						<div class="dp-mpadded">
							&bull; Download our manuals for in-depth information:
							<span style="display: inline-block; margin-left: 4px;"><i class="fa fa-book"></i> <a href="{{ path('serve_dp_asset', { filename: 'Admin-Manual.pdf' }) }}" target="_blank">Admin Manual</a></span>
							<span style="display: inline-block; margin-left: 4px;"><i class="fa fa-book"></i> <a href="{{ path('serve_dp_asset', { filename: 'Agent-Manual.pdf' }) }}" target="_blank">Agent Manual</a></span>
							<span style="display: inline-block; margin-left: 4px;"><i class="fa fa-book"></i> <a href="{{ path('serve_dp_asset', { filename: 'Getting-Started-with-DeskPRO.pdf' }) }}" target="_blank">Quick Start Guide</a></span>
						</div>
					</article>

					<header>
						<h3>Contact Us</h3>
					</header>
					<article>
						<div class="dp-mpadded">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="submit_ticket.subject" required placeholder="Enter a subject for your message" />
							</div>
							<div class="form-group">
								<textarea class="form-control" style="height: 80px;" ng-model="submit_ticket.message" placeholder="Enter your question here" ng-change="submit_ticket_message_error = false"></textarea>
								<span ng-show="submit_ticket_message_error" class="text-danger">Please enter a message</span>
							</div>
						</div>
						<div class="dp-mpadded">
							<div ng-hide="support_sent">
								<div dp-hide-spinning="sending_support_request">
									<button class="btn btn-default" ng-click="$event.preventDefault(); Home.sendSupportRequest();"><i class="fa fa-envelope-o"></i> Send Message</button>
									&nbsp;&nbsp;&nbsp;
									<div style="display: inline-block" ng-show="submit_ticket_defaultemail" ng-init="submit_ticket_defaultemail = true">
										We will reply to <strong>{{ app.user.primary_email_address }}</strong>.
										<a href="#" ng-click="submit_ticket_defaultemail = false">Change?</a>
									</div>
									<div style="display: inline-block" ng-hide="submit_ticket_defaultemail">
										Reply To:
										<input type="email" class="form-control" style="padding: 2px 4px; margin: 0; height: auto; width: 175px; display: inline-block;" ng-model="submit_ticket.email" ng-init="submit_ticket.email = '{{ app.user.primary_email_address }}'" required />
									</div>
								</div>
								<div dp-show-spinning="sending_support_request">
									<i class="spinner-flat"></i>
								</div>
							</div>
							<p ng-show="support_sent" class="text-success">
								Your support request has been submitted successfully. One of our agents will respond
								to you as soon as possible. <button type="button" class="btn btn-default" ng-click="support_sent = false; submit_ticket.subject = ''; submit_ticket.message = '';">Click here to send another</button>
							</p>
						</div>
					</article>
				</td>
			</tr>
			<tr>
				{# STATS #}
				<td width="50%" class="dp-item">
					<header>
						<h3>Quick Stats</h3>
					</header>
					<article>
						<ul class="dp-display-list">
							<li>
								<i class="fa fa-envelope"></i>
								Tickets created today: {{ ng_var('Home.quick_stats.created_today') }}
							</li>
							<li>
								<i class="fa fa-check-square"></i>
								Tickets resolved today: {{ ng_var('Home.quick_stats.resolved_today') }}
							</li>
							<li>
								<i class="fa fa-clock-o"></i>
								Tickets awaiting agent: {{ ng_var('Home.quick_stats.awaiting_agent') }}
							</li>
						</ul>
						<div class="dp-mpadded">
							<a class="btn btn-default" href="/{{ path('user')|ltrim('/') }}reports/" dp-click-href="#/go_to_reports">View more reports <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</article>
				</td>

				{# STATUS #}
				<td class="dp-item" ng-class="{'with-error':Home.cron_status.is_problem}">
					<header>
						<h3>Status</h3>
					</header>
					<article>
						<div class="dp-mpadded">
							<div class="status-content" ng-show="!Home.is_server_problem">
								<header>
									<div class="icon okay"><i class="fa fa-check"></i></div>
									<strong>Everything is running smoothly.</strong>
								</header>
							</div>
							<div class="status-content" ng-show="Home.is_server_problem">
								<header>
									<div class="icon bad"><i class="fa fa-warning"></i></div>
									<strong>We have detected problems you should look into</strong>
								</header>
								<article>
									<p ng-show="Home.cron_status.is_problem">
										<i class="fa fa-clock-o"></i>
										Your <a href="{{ ng_href('server.cron') }}">scheduled task</a> is not running or has crashed.
										This means important routines like email processing and escalations are not running.
									</p>
									<p ng-show="Home.error_status.error_count > 0">
										<i class="fa fa-warning"></i>
										There are <a href="{{ ng_href('server.error_logs') }}">{{ ng_var('Home.error_status.error_count') }} system errors</a> in the error log.
									</p>
									<p ng-show="Home.error_status.gateway_error_count > 0">
										<i class="fa fa-envelope"></i>
										There have been <a href="{{ ng_href('tickets.ticket_accounts.emailsources') }}">{{ ng_var('Home.error_status.gateway_error_count') }} email errors</a>.
										These errors may have prevented the successful processing of tickets or ticket replies.
									</p>
									<p ng-show="Home.error_status.sendmail_error_count > 0">
										<i class="fa fa-envelope"></i>
										There have been <a href="{{ ng_href('tickets.ticket_accounts.sendmailqueue') }}">{{ ng_var('Home.error_status.sendmail_error_count') }} outgoing email errors</a>.
										These errors will have prevented your users from receiving messages from the helpdesk (such as reply notifications).
									</p>
									<p ng-show="Home.apc_status.is_problem">
										<i class="fa fa-hdd-o"></i>
										APC is reporting cache misses {{ ng_var('Home.apc_status.perc_miss_str') }}% of the time.
										<a href="https://support.deskpro.com/kb/articles/126" target="_blank">Read more about this error &rarr;</a>
									</p>
								</article>
							</div>
						</div>
					</article>
				</td>
			</tr>
		</table>
	</div>
{% endblock %}