<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title"><i class="fa fa-globe"></i> Network Error</h4>
		</div>
		<div class="modal-body">
			<p>
				Your last web request failed. This can be caused by a number of reasons:
			</p>
			<ul>
				<li>You are no longer connected to the internet</li>
				<li>There is a problem with the network between you and the web server</li>
				<li>The web server itself is unavailable (for example, someone rebooted it)</li>
			</ul>
			<p>
				You should reload the page and attempt your last action again.
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" ng-click="dismiss()">Dismiss</button>
			<button class="btn btn-primary" ng-click="reload()"><i class="fa fa-refresh"></i> Reload Page</button>
		</div>
	</div>
</div>