{% extends 'AdminInterfaceBundle:Layout:widget-modal.html.twig' %}
{% block modal_title %}
	<h4 class="modal-title">Request a fully-functional demo license</h4>
{% endblock %}
{% block modal_body %}
	<div ng-show="mode == 'auto'">
		<div ng-show="!is_loading && !is_done">
			<form class="form" name="form" novalidate>
				<script type="text/dp-json-data" method="setInitialVals">{{ {
						"build": constant('DP_BUILD_TIME'),
						"install_key": app.getSetting('core.install_key'),
						"install_token": app.getSetting('core.install_token'),
						"user_name": app.user.display_name,
						"email_address": app.user.email_address,
						"org_name": app.user.guessOrganizationName(),
						"ma_server": app.getLicense().getLicServer() ~ "/api/license/request-demo.json"
					}|json_encode_inhtml }}</script>

				<div class="form-group" ng-class="{'has-warning': has_submit && form.user_name.$error.required}">
					<label>Your Name</label>
					<input type="text" name="user_name" ng-model="form_vals.user_name" class="form-control" required />
					<p class="help-block" ng-show="has_submit && form.user_name.$error.required">Please enter your name</p>
				</div>
				<div class="form-group" ng-class="{'has-warning': has_submit && (form.email_address.$error.required || form.email_address.$error.email) }">
					<label>Your Email Address</label>
					<input type="email" name="email_address" ng-model="form_vals.email_address" class="form-control" required />
					<p class="help-block" ng-show="has_submit && (form.email_address.$error.required || form.email_address.$error.email)">Please enter a valid email address</p>
				</div>

				<div class="form-group" ng-class="{'has-warning': has_submit && form.org_name.$error.required}">
					<label>Your Organization Name</label>
					<input type="text" name="org_name" ng-model="form_vals.org_name" class="form-control" required />
					<p class="help-block" ng-show="has_submit && form.org_name.$error.required">Please enter your organization name</p>
				</div>

				<div class="form-group">
					<label>Your Organization URL</label>
					<input type="text" name="org_name" ng-model="form_vals.org_url" class="form-control" />
				</div>

				<div class="form-group" ng-class="{'has-warning': has_submit && (form.phone_country.$error.required || form.phone_number.$error.required) }">
					<label>Your Phone Number</label>
					<div>
						+ <input type="text" name="phone_country" ng-model="form_vals.phone_country" class="form-control" style="width: 40px; display: inline-block;" required />
						<input type="text" name="phone_number" ng-model="form_vals.phone" class="form-control" placeholder="Enter your phone number" style="width: 200px; display: inline-block;" required />
						&nbsp;&nbsp;
						<small>Extension: <input type="text" ng-model="form_vals.phone_ext" class="form-control input-sm" placeholder="Optional" style="width: 80px; display: inline-block;" /></small>
					</div>
					<p class="help-block" ng-show="has_submit && (form.phone_country.$error.required || form.phone_number.$error.required)">Please enter your full phone number, including country-code.</p>
				</div>
			</form>
		</div>
		<div ng-show="is_loading" style="padding: 10px; text-align: center;">
			<i class="spinner-editor"></i>
		</div>
		<div ng-show="!is_loading && is_done">
			<div ng-show="is_success">
				<div class="alert alert-success">
					<strong>Success</strong><br/>
					<p>
						We have sent a demo license code to your email address {{ ng_var('form_vals.email_address') }}.
					</p>
				</div>
			</div>
			<div ng-show="is_error">
				<div class="alert alert-danger">
					<strong>Failed</strong><br/>
					<p>
						We could not connect to the DeskPRO license server to generate a license code for you. You can try again in case this is a temporary issue.
					</p>
					<p>
						If you continue to have problems even after retrying, <a href="#" ng-click="showManual()">click here to request a license manually</a>.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="mode == 'manual'">
		<div class="alert alert-info">
			<p><strong>1. Download Key File</strong></p>
			<p>
				<button type="button" class="btn btn-success" ng-click="keyfile()"><i class="fa fa-floppy-o"></i> Download Key File</button>
			</p>
			<p>
				Your key file contains information about your DeskPRO instance. Our agents will need the key file to generate a license code for you.
			</p>
		</div>
		<div class="alert alert-info">
			<p><strong>2. Email Us</strong></p>
			<p>
				Email the key file to <a href="mailto:support@deskpro.com" class="btn btn-success"><i class="fa fa-envelope-o"></i> support@deskpro.com</a>
			</p>
			<p>
				Once we recieve your key file, we will generate your custom demo license code right away and send it to your email address.
			</p>
		</div>
	</div>
{% endblock %}
{% block modal_footer %}
	<div ng-show="mode == 'auto'">
		<button class="btn btn-primary" ng-click="doGetLicense(!form.$invalid)" ng-disabled="has_submit && form.$invalid" ng-show="!is_loading && !is_done">Send License Now &nbsp; <i class="fa fa-caret-right"></i></button>
		<div style="margin-top: 3px;" ng-show="!is_loading && !is_done">
			<a href="#" ng-click="showManual()" style="font-size: 11px;">Or request a license manually <i class="fa fa-caret-right"></i></a>
		</div>

		<button class="btn btn-default" ng-click="dismiss()" ng-show="!is_loading && is_success">Done</button>
		<button class="btn btn-default" ng-click="tryAgain()" ng-show="!is_loading && is_error"><i class="fa fa-caret-left"></i> Try Again</button>
		<button class="btn btn-primary" ng-show="is_loading" disabled>Please wait...</button>
	</div>
	<div ng-show="mode == 'manual'">
		<button class="btn btn-default" ng-click="showAuto()"><i class="fa fa-caret-left"></i> Go Back</button>
	</div>
{% endblock %}