{% extends 'ReportsInterfaceBundle:Layout:fill-page.html.twig' %}

{% block fillpage_content %}

	<section class="padd">

		<table cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td style="padding-right: 6px;vertical-align: top;" width="50%">
					<div>
						{% include 'ReportsInterfaceBundle:Overview:tickets-status.html.twig' %}
					</div>
					<br>

					<div>
						{% include 'ReportsInterfaceBundle:Overview:tickets-awaiting-agent.html.twig' %}
					</div>
					<br>

					<div>
						{% include 'ReportsInterfaceBundle:Overview:tickets-user-waiting-time.html.twig' %}
					</div>
					<br>

					<div>
						{% include 'ReportsInterfaceBundle:Overview:tickets-sla-status.html.twig' %}
					</div>
				</td>
				<td style="padding-right: 6px;vertical-align: top;" width="50%">
					<div>
						{% include 'ReportsInterfaceBundle:Overview:tickets-resolved.html.twig' %}
					</div>
					<br>

					<div>
						{% include 'ReportsInterfaceBundle:Overview:tickets-response-time.html.twig' %}
					</div>
					<br>

					<div>
						{% include 'ReportsInterfaceBundle:Overview:chats-created.html.twig' %}
					</div>
				</td>
			</tr>

		</table>

		<br/>

		<br>

		<div>
			{% include 'ReportsInterfaceBundle:Overview:tickets-opened-hour.html.twig' %}
		</div>

	</section>

{% endblock %}