{% import 'ReportsInterfaceBundle:Overview:macros.html.twig' as macros %}
<section class="report-wrapper">
	<header>
		<h2>
			There are {{ ng_var('tickets_awaiting_agent.sum') }} Tickets 'Awaiting Agent'
		</h2>
		<h3>
			Showing Grouped by {{ macros.grouping_field_select('tickets_awaiting_agent') }}
		</h3>
	</header>
	<article>
		<div class="dp-layout-loading" ng-show="tickets_awaiting_agent.loading"><i></i></div>
		<table class="stat-table" width="100%" ng-if="!tickets_awaiting_agent.empty"
			   ng-hide="tickets_awaiting_agent.loading">
			<tr ng-repeat="stat in tickets_awaiting_agent.stats">
				<td class="title"><span>{{ ng_var('stat.title') }}</span></td>
				<td width="100%">
					<table width="100%" class="stat-value">
						<tr>
							<td class="value" width="{{ ng_var('stat.left_percentage') }}%">
								<div>&nbsp;</div>
							</td>
							<td width="{{ ng_var('stat.right_percentage') }}%">
								{{ ng_var('stat.value') }}
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="total-row">
				<td class="title">Total:</td>
				<td class="val">{{ ng_var('tickets_awaiting_agent.sum') }}</td>
			</tr>
			</table>
		<div class="no-data" ng-if="tickets_awaiting_agent.empty" ng-hide="tickets_awaiting_agent.loading">
			<h3>No matching data</h3>
		</div>
	</article>
</section>