{% import 'ReportsInterfaceBundle:Overview:macros.html.twig' as macros %}
<section class="report-wrapper">
	<header>
		<h2 style="float: left;">
			Average First Response Time
		</h2>
		<div style="float: left; padding-bottom: 5px;">
			<select ui-select2 ng-model="tickets_response_time.date_choice" style="min-width: 120px" class="no-search"
					ng-change="Overview.getStats('tickets_response_time')">
				{% for field,title in {
				'today': 'Today',
				'this_week': 'This Week',
				'this_month': 'This Month',
				'this_year': 'This Year',
				} %}
					<option value="{{ field }}">
						{{ title }}
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="clearfix"></div>
		<h3>
			Showing Grouped by {{ macros.grouping_field_select('tickets_response_time', {none: true}) }}
		</h3>
	</header>
	<article>
		<div class="dp-layout-loading" ng-show="tickets_response_time.loading"><i></i></div>
		<table class="stat-table" width="100%" ng-if="!tickets_response_time.empty" ng-hide="tickets_response_time.loading">
			<tr ng-repeat="stat in tickets_response_time.stats">
				<td class="title"><span>{{ ng_var('stat.title') }}</span></td>
				<td width="100%">
					<table width="100%" class="stat-value" ng-if="stat.value && !tickets_response_time.sub_titles">
						<tr>
							<td class="value" width="{{ ng_var('stat.percentage') }}%">
								<div>&nbsp;</div>
							</td>
							<td>
								<span style="white-space: nowrap;">{{ ng_var('stat.value') }}</span>
							</td>
						</tr>
					</table>
					<table width="100%" class="stat-value" ng-if="stat.value && tickets_response_time.sub_titles">
						<tr>
							<td width="{{ ng_var('stat.percentage') }}%">
								<table width="100%" class="stat-value stat-value-multi">
									<tr>
										<td ng-repeat="sub_stat in stat.sub_stats"
											tooltip-placement="top"
											tooltip-append-to-body="true"
											tooltip="{{ ng_var('sub_stat.title') }}"
											class="value tipped"
											width="{{ ng_var('sub_stat.percentage') }}%">
											<div style="background-color:#{{ ng_var('sub_stat.background') }}">
												&nbsp;
											</div>
										</td>
									</tr>
								</table>
							</td>
							<td>
								<span style="white-space: nowrap;">{{ ng_var('stat.value') }}</span>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<div class="no-data" ng-if="tickets_response_time.empty" ng-hide="tickets_response_time.loading">
			<h3>No matching data</h3>
		</div>
	</article>
</section>