{% extends 'AdminInterfaceBundle:Layout:fullpage-pane.html.twig' %}
{% block fullpane_content %}
<form class="form-horizontal dp-form" role="form" name="form_props" ng-submit="Settings.save()">
	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>Agent Password Policy</h3>
		</header>
		<article class="form-horizontal dp-form">
			<div class="panel panel-innertable" style="margin-top: 0;">
				<div class="form-group">
					<div class="labels-group">
						<label>
							<input type="radio" ng-model="agent.standard_policy" ng-value="true" />
							<h4>Standard Password Policy</h4>
							<span class="help-block" ng-show="agent.standard_policy">
								Passwords must be at least 5 characters long. No other requirements are enforced.
							</span>
						</label>
						<label>
							<input type="radio" ng-model="agent.standard_policy" ng-value="false" />
							<h4>Custom Password Policy</h4>
							<span class="help-block" ng-show="!agent.standard_policy">
								Specify custom password requirements.
							</span>
						</label>
					</div>

					<div ng-if="!agent.standard_policy">
						<div class="panel-heading">
							<h3>
								<span>Password Policy</span>
							</h3>
						</div>

						<div class="inner-group">
							<label>
								<h4>Minimum password length:</h4>
							</label>
							<input type="text" class="form-control" ng-model="agent.min_length" style="width: 100px; display: inline-block;" /> characters
							<span class="help-block">
								The minimum number of characters the password has to be.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<h4>Maximum password age:</h4>
							</label>
							<input type="text" class="form-control" ng-model="agent.max_age" style="width: 100px; display: inline-block;" /> days
							<span class="help-block">
								How many days a password can remain unchanged until DeskPRO requires the agent to change it.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<input type="checkbox" ng-model="agent.forbid_reuse" />
								<h4>Forbid password reuse</h4>
							</label>
							<span class="help-block">
								When enabled, agents will not be able to change their password to a password they have used in the past.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<h4>Require this many lower-case characters:</h4>
							</label>
							<input type="text" class="form-control" ng-model="agent.require_num_lowercase" style="width: 100px; display: inline-block;" />
							<span class="help-block">
								Define the minimum number of lower-case (a-z) characters that must be used in the password.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<h4>Require this many upper-case characters:</h4>
							</label>
							<input type="text" class="form-control" ng-model="agent.require_num_uppercase" style="width: 100px; display: inline-block;" />
							<span class="help-block">
								Define the minimum number of upper-case (A-Z) characters that must be used in the password.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<h4>Require this many numbers:</h4>
							</label>
							<input type="text" class="form-control" ng-model="agent.require_num_number" style="width: 100px; display: inline-block;" />
							<span class="help-block">
								Define the minimum number of numbers (0-9) that must be used in the password.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<h4>Require this many symbols:</h4>
							</label>
							<input type="text" class="form-control" ng-model="agent.require_num_symbol" style="width: 100px; display: inline-block;" />
							<span class="help-block">
								Define the minimum number of symbols (!, @, $, % etc) that must be used in the password.
							</span>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>

	{##################################################################################################}

	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>User Password Policy</h3>
		</header>
		<article class="form-horizontal dp-form">
			<div class="panel panel-innertable" style="margin-top: 0;">
				<div class="form-group">
					<div class="labels-group">
						<label>
							<input type="radio" ng-model="user.standard_policy" ng-value="true" />
							<h4>Standard Password Policy</h4>
							<span class="help-block" ng-show="user.standard_policy">
								Passwords must be at least 5 characters long. No other requirements are enforced.
							</span>
						</label>
						<label>
							<input type="radio" ng-model="user.standard_policy" ng-value="false" />
							<h4>Custom Password Policy</h4>
							<span class="help-block" ng-show="!user.standard_policy">
								Specify custom password requirements.
							</span>
						</label>
					</div>

					<div ng-if="!user.standard_policy">
						<div class="panel-heading">
							<h3>
								<span>Password Policy</span>
							</h3>
						</div>

						<div class="inner-group">
							<label>
								<h4>Minimum password length:</h4>
							</label>
							<input type="text" class="form-control" ng-model="user.min_length" style="width: 100px; display: inline-block;" /> characters
							<span class="help-block">
								The minimum number of characters the password has to be.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<h4>Maximum password age:</h4>
							</label>
							<input type="text" class="form-control" ng-model="user.max_age" style="width: 100px; display: inline-block;" /> days
							<span class="help-block">
								How many days a password can remain unchanged until DeskPRO requires the user to change it.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<input type="checkbox" ng-model="user.forbid_reuse" />
								<h4>Forbid password reuse</h4>
							</label>
							<span class="help-block">
								When enabled, users will not be able to change their password to a password they have used in the past.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<h4>Require this many lower-case characters:</h4>
							</label>
							<input type="text" class="form-control" ng-model="user.require_num_lowercase" style="width: 100px; display: inline-block;" />
							<span class="help-block">
								Define the minimum number of lower-case (a-z) characters that must be used in the password.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<h4>Require this many upper-case characters:</h4>
							</label>
							<input type="text" class="form-control" ng-model="user.require_num_uppercase" style="width: 100px; display: inline-block;" />
							<span class="help-block">
								Define the minimum number of upper-case (A-Z) characters that must be used in the password.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<h4>Require this many numbers:</h4>
							</label>
							<input type="text" class="form-control" ng-model="user.require_num_number" style="width: 100px; display: inline-block;" />
							<span class="help-block">
								Define the minimum number of numbers (0-9) that must be used in the password.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<h4>Require this many symbols:</h4>
							</label>
							<input type="text" class="form-control" ng-model="user.require_num_symbol" style="width: 100px; display: inline-block;" />
							<span class="help-block">
								Define the minimum number of symbols (!, @, $, % etc) that must be used in the password.
							</span>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>

	{##################################################################################################}

	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>Session Settings</h3>
		</header>
		<article class="form-horizontal dp-form">
			<div class="panel panel-innertable">
				<div class="form-group">
					<div class="col-lg-12">
						<div class="inner-group">
							<label>
								<h4>Session Lifetime</h4>
							</label>
							<br/>
							<input type="text" class="form-control" ng-model="settings.sessions_lifetime" style="width: 150px" /> seconds
							<span class="help-block">
								Sessions that are not touched for this long will expire. This allows the system
								to clean up old sessions after users have left the site or closed their browser window.
								For security reasons, it is recommended you do not set this longer than an hour or two.
							</span>
						</div>
						<div class="inner-group">
							<label>
								<input type="checkbox" ng-model="settings.session_keepalive_require_page" />
								<h4>Require Activity</h4>
							</label>
							<span class="help-block">
								Invisible web requests are always running in the background while DeskPRO is open in a browser window and
								those background requests usually keep sessions alive. If you only want actual user activity
								to keep sessions alive, activate this setting. This setting requires users to navigate to new
								content (e.g., new pages or tabs) to keep their sessions alive. It prevents idle users from staying
								logged in.
							</span>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>

	{##################################################################################################}

	<section class="dp-paneblock dp-listpane">
		<footer>
			<div class="dp-content">
				<div class="dp-btn-controls">
					<div dp-hide-spinning="saving">
						<button class="btn btn-primary" ng-click="Settings.saveSettings()">{{ phrase('agent.general.save') }}</button>
					</div>
					<div dp-show-spinning="saving">
						<i class="spinner-flat"></i>
					</div>
				</div>
			</div>
		</footer>
	</section>
</form>
<div dp-register-message="saved_settings">Settings saved successfully.</div>
{% endblock %}