<header>
	<h1>Report Builder</h1>

	<p>
		Report Builder is our powerful custom statistic and graph generator.
		With this tool you can generate almost any statistic about your helpdesk.
		The tools comes with a library of pre-built statistics and an editor to allow you to create your own.
	</p>
</header>
<article>
	<article>
		<p>Some other text...</p>
	</article>
</article>