<div class="dp-ob">
	<div class="dp-ob-options">
		{#<div class="dp-ob-row dp-ob-no-options">
			No actions have been added yet.
		</div>#}
		<div class="dp-ob-row dp-ob-loading-options" style="display: none;">
			<i class="spinner-flat"></i>
		</div>
	</div>
	<div class="dp-ob-newrule">
		<div class="btn-wrap">
			<span class="add_btn"><i class="fa fa-plus-circle"></i><label></label></span>
		</div>
		<div class="select2-wrap"></div>
	</div>
</div>