<dp-optionbuilder-row>
	<div class="dp-ob-standard-row">
		<table class="display-table">
			<tr>
				<td width="80" class="nowrap" style="padding-right: 8px;"><label>{{ ng_var('type_title') }}</label></td>
				<td>
					<div>
						URL: <input type="text" ng-model="model.url" />
					</div>
					<div>
						Username and Password: <input type="text" ng-model="model.username" /> <input type="text" ng-model="model.password" />
					</div>
					<div>
						Method: <select ng-model="model.method">
							<option value="POST">POST</option>
							<option value="GET">GET</option>
							<option value="PUT">PUT</option>
							<option value="DELETE">DELETE</option>
						</select>
					</div>
					<div>
						Custom Headers: <textarea ng-mode="model.headers"></textarea>
					</div>
					<div>
						Custom Data: <textarea ng-mode="model.custom_data"></textarea>
					</div>
					<div>
						Timeout: <input type="text" ng-model="model.timeout" />
					</div>
				</td>
			</tr>
		</table>
	</div>
</dp-optionbuilder-row>