<dp-optionbuilder-row>
	<div class="dp-ob-standard-row">
		<table class="display-table">
			<tr>
				<td class="nowrap" width="50"><label>Set Labels</label></td>
				<td>
					<table class="display-table spaced" width="100%">
						<tr>
							<td style="vertical-align: top; white-space: nowrap" nowrap width="100">Add labels:</td>
							<td>
								<input type="text" ng-model="model.add_labels" class="form-control" />
							</td>
						</tr>
						<tr>
							<td style="vertical-align: top; white-space: nowrap" nowrap width="100">Remove labels:</td>
							<td>
								<input type="text" ng-model="model.remove_labels" class="form-control" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</dp-optionbuilder-row>