<dp-optionbuilder-row>
	<div class="dp-ob-standard-row">
		<table class="display-table" width="100%">
			<tr>
				<td width="80" class="nowrap" style="padding-right: 8px;"><label>{{ ng_var('type_title') }}</label></td>
				<td>
					<select ui-select2 ng-model="model.value" style="min-width: 140px" multiple="multiple">
						<option value="awaiting_agent">Awaiting Agent</option>
						<option value="awaiting_user">Awaiting User</option>
						<option value="resolved">Resolved</option>
						<option value="closed">Archived</option>
						<optgroup label="Hidden">
							<option value="hidden.deleted">Delete</option>
							<option value="hidden.spam">Spam</option>
							<option value="hidden.validating">Validating</option>
						</optgroup>
					</select>
				</td>
			</tr>
		</table>
	</div>
</dp-optionbuilder-row>