<dp-optionbuilder-row>
	<div class="dp-ob-standard-row">
		<table class="display-table">
			<tr>
				<td width="80" class="nowrap" style="padding-right: 8px;"><label>Hold</label></td>
				<td>
					<select ui-select2 ng-model="model.value" style="min-width: 200px">
						<option value="1">Ticket is on hold</option>
						<option value="0">Ticket is not on hold</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
</dp-optionbuilder-row>