<dp-optionbuilder-row>
	<div class="dp-ob-standard-row">
		<label>{{ ng_var('type_title') }}</label>
		<input type="text" class="form-control" ng-model="model.value" />
	</div>
</dp-optionbuilder-row>