<div class="modal-dialog">
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dismiss()">&times;</button>
		<h4 class="modal-title">{{ phrase('adm.departments.delete_department') }}</h4>
	</div>
	<div class="modal-body">
		<p>
			{{ phrase('adm.departments.delete_confirm') }}
		</p>
		<p>
			{{ phrase('adm.departments.delete_chat_moved') }}
		</p>
		<p style="margin-bottom: 0;">
			<select
				ui-select2
				ng-model="selected.move_to_id"
				style="width: 240px"
			>
				<option value="{{ ng_var('dep.id') }}" ng-repeat="dep in move_deps_list">{{ ng_var('dep.title') }}</option>
			</select>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="dismiss()"><i class="fa fa-undo"></i> {{ phrase('agent.general.cancel') }}</button>
		<button class="btn btn-danger" ng-click="confirm()"><i class="fa fa-trash-o"></i> {{ phrase('agent.general.delete') }}</button>
	</div>
</div>
</div>