<div class="modal-dialog">
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dismiss()">&times;</button>
		<h4 class="modal-title">{{ phrase('adm.general.delete_label') }}</h4>
	</div>
	<div class="modal-body">
		<p>
			{{ phrase('adm.general.delete_label_confirm') }}
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="dismiss()"><i class="fa fa-undo"></i> {{ phrase('agent.general.cancel') }}</button>
		<button class="btn btn-danger" ng-click="confirm()"><i class="fa fa-trash-o"></i> {{ phrase('agent.general.delete') }}</button>
	</div>
</div>
</div>