<script>
pageMeta.fragmentClass = 'DeskPRO.Agent.PageFragment.Page.NewOrganization';
pageMeta.title = '{{ phrase('agent.general.new_organization') }}';

{% set baseId = el_uid() %}
pageMeta.baseId = '{{ baseId }}';
</script>
<div class="layout-content page-new-content">
<div class="dp-page-content">
{{ start_counter('steps') }}

<a class="tab-anchor" href="#">&nbsp;</a>

<form id="{{baseId}}_neworg" class="keybound-submit">

<div class="first section cat-section" id="{{baseId}}_cat_section">
	<div class="content">
		<h4>{{ phrase('agent.general.name') }}</h4>
		<input type="text" class="fill" name="neworg[name]" id="{{baseId}}_name" value="" />
	</div>
</div>

{% if custom_fields|length %}
<div class="section title-section" id="{{baseId}}_fields_section">
	<div class="content">
        {% for f in custom_fields %}
        	<h4>{{ f.title }}</h4>
        	{{ render_custom_field_form(f) }}
        	<br />
        {% endfor %}
	</div>
</div>
{% endif %}

<div class="section other-section" id="{{baseId}}_other_section">
	<div class="content">
		{# Tab Container #}
		<div class="tab-container">
			<nav id="{{baseId}}_other_props_tabs_wrap">
				<ul id="{{baseId}}_other_props_tabs">
					<li class="on" data-tab-for="> .tab-properties">{{ phrase('agent.general.properties') }}</li>
				</ul>
			</nav>
			<div class="content-wrapper" id="{{baseId}}_other_props_tabs_content" style="display: none">
				{# Tab Properties #}
				<div class="tab-properties">
					<dl>
						<dt class="prop">{{ phrase('agent.general.labels') }}</dt>
						<dd class="prop">
							<div class="tags-wrap article-tags">
								<input type="text" value="{% for label in state.neworg.labels %}{{label}},{% endfor %}" />
							</div>
						</dd>
					</dl>
				</div>
				{# /Tab Properties #}
			</div>
		</div>
		{# /Tab Container #}
	</div>
</div>

<footer class="pop-footer">
	<div class="is-not-loading">
		<button class="submit-trigger clean-white">{{ phrase('agent.organizations.create_organization') }} <kbd>{{ phrase('agent.general.altc') }}</kbd></button>
	</div>
	<div class="is-loading" style="padding-top: 9px;">
		<img src="{{ asset('images/spinners/loading-small.gif') }}" />
	</div>
</footer>

</form>

</div>
</div>