{% extends 'AdminInterfaceBundle:Layout:fullpage-pane.html.twig' %}

{% block fullpane_content %}
	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>Admin Logs</h3>
		</header>

		{##################################################################################################}

		<article class="padd">
			<table class="table">
				<thead>
					<tr>
						<th width="10">ID</th>
						<th>Object</th>
						<th>Change Data</th>
						<th>Who</th>
						<th width="80">Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="log in List.logs">
						<td nowrap class="alt dp-id-col"><a href="{{ ng_href('agents.audit_log.view', '{id: log.id}') }}"><em class="dp-id">{{ ng_var('log.id') }}</a></td>
						<td nowrap ng-class="'auditlog-' + log.op">
							<div class="op">{{ ng_var('log.op') }}</div>
							<span class="auditlog-obj"><span class="object_type">{{ ng_var('log.object_type') }}</span><span class="sep">#</span><span class="object_id">{{ ng_var('log.object_id') }}</span></span>
						</td>
						<td>
							<div ng-if="log.change_data">
								<div ng-repeat="(field, data) in log.change_data" class="auditlog-change">
									<span class="field">{{ ng_var('field') }}:</span>
									<span class="data">{{ ng_var('data') }}</span>
								</div>
							</div>
						</td>
						<td>
							<span ng-if="log.person.id">
								{{ ng_var('log.person.display_name') }}
								<div style="font-size: 10px;">&lt;{{ ng_var('log.person.primary_email.email') }}&gt;</div>
							</span>
							<span ng-if="!log.person.id">
								{{ ng_var('log.person_name') }}
							</span>
						</td>
						<td nowrap>{{ ng_var('log.date_created') }}</td>
					</tr>
				</tbody>
			</table>

			<div class="dp-btn-pagination" ng-show="List.server_cron_logs.logs">
				<span dp-show-spinning="page_loading">
					<i class="spinner-flat"></i>
				</span>
				<button class="btn" ng-show="List.page != 1" ng-click="List.goPrevPage()">
					&lt; Prev
				</button>
				<select ng-model="List.page" ui-select2 style="width: 130px;">
					<option ng-repeat="page in List.page_nums" value="{{ ng_var('page') }}">
						Page {{ ng_var('page') }}
					</option>
				</select>
				<button class="btn" ng-show="List.page < List.num_pages"
						ng-click="List.goNextPage()">
					Next &gt;
				</button>
			</div>
		</article>

	</section>
{% endblock %}