{% extends 'AdminInterfaceBundle:Layout:fullpage-pane.html.twig' %}
{% block fullpane_content %}
<div class="form-horizontal dp-form">
	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>About Elastic Search</h3>
		</header>
		<div class="panel panel-innertable" style="margin-top: 0;">
			<p>
				<a href="http://www.elasticsearch.org/" target="_blank">Elastic Search <i class="fa fa-globe"></i></a> is a specialized search server technology.
				You can configure DeskPRO to use Elastic Search to power searching and filtering to drastically improve performance as well as
				improve overall search results.
			</p>
		</div>
	</section>
	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>Elastic Search</h3>
		</header>
		<div class="panel panel-innertable" style="margin-top: 0;">
			<div class="labels-group">
				<label>
					<input type="checkbox" ng-model="settings.enabled" />
					<h4>Enable Elastic Search</h4>
				</label>
			</div>
			<div class="inner-group ng-hide" ng-show="settings.enabled && settings.requires_reset">
				<div class="alert alert-danger">
					<p>
						<strong>Initialize Index</strong>
					</p>
					<p>
						You need to initialize the search index with records that already exist in the DeskPRO database.
					</p>
					<p>
						From the command-line, execute the this special command from within the DeskPRO root directory:
					</p>
<pre>$ cd /path/to/deskpro
$ php cmd.php dp:elastica:populate</pre>
					<p>
						You will only need to run this command once. DeskPRO will automatically keep the index
						up to date with new changes and new content.
					</p>
				</div>
			</div>
			<div ng-show="settings.enabled">
				<div class="inner-group">
					<label>
						<h4>Server host:</h4>
					</label>
					<input type="text" class="form-control" ng-model="settings.host" />
					<span class="help-block">
						Enter your Elastic Search server hostname. For example, "localhost".
					</span>
				</div>
				<div class="inner-group">
					<label>
						<h4>Port:</h4>
					</label>
					<input type="text" class="form-control" ng-model="settings.port" />
					<span class="help-block">
						Enter the port to that your Elastic Search server is listening on. By default this is 9200.
					</span>
				</div>
			</div>
		</div>
		<footer ng-show="settings.enabled">
			<div class="dp-content">
				<div class="dp-btn-controls">
					<div dp-hide-spinning="saving">
						<button class="btn btn-info" ng-click="Settings.testSettingsModal()"><i class="fa fa-bolt"></i> Test Settings</button>
						<button class="btn btn-primary" ng-click="Settings.saveSettings()">Save Settings</button>
					</div>
					<div dp-show-spinning="saving">
						<i class="spinner-flat"></i>
					</div>
				</div>
			</div>
		</footer>
	</section>
</div>
<div dp-register-message="saved_settings">Settings saved successfully.</div>
{{ ng_tpl('AdminInterfaceBundle:ElasticSearch:test-settings-modal.html.twig') }}
{% endblock %}