<div class="panel panel-fill indent">
	<div class="panel-body">
		<div class="form-group">
			<div class="col-lg-3">
				<h3>Group Name</h3>
			</div>
			<div class="col-lg-9">
				<div class="inner-group">
					<input type="text" class="form-control" name="name" ng-model="EditCtrl.group.title" dp-server-validation="group.not_blank" style="width: 50%;" required />
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				<h3>Members</h3>
			</div>
			<div class="col-lg-9">
				<ul class="checkbox-list" style="min-width: 250px">
					<li ng-repeat="agent in EditCtrl.agents">
						<label>
							<input type="checkbox" ng-model="agent.value" />
							<span class="agent-icon agent-icon-16x" ng-style="{'background-image': 'url(' + agent.picture_url_16 + ')'}"></span>
							<span>{{ ng_var('agent.display_name') }}</span>
							<a class="inline-edit-link" href="{{ ng_href('agents.agents.edit', '{id: agent.id}') }}"><i class="fa fa-pencil"></i><em>edit agent</em></a>
						</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>