{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<form class="form-horizontal dp-form" role="form" name="form_props" ng-submit="EditCtrl.saveForm()">
		<section class="dp-paneblock dp-editpane">
			<article class="form-horizontal dp-form">
				<div class="panel panel-fill indent">
					<div class="panel-body" style="margin-bottom: 0; padding-bottom: 0;">
						<div class="form-group">
							<div class="col-lg-2">
								<h3>{{ phrase('agent.general.title') }} *</h3>
							</div>
							<div class="col-lg-10">
								<div class="inner-group" dp-error-class="form_props.title">
									<input type="text" class="form-control" name="title" ng-model="EditCtrl.form.title" style="width: 50%;" required autofocus />
								<span class="help-block">
									{{ phrase('adm.ticket_macros.title_explain') }}
								</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-2">
								<h3>Permission</h3>
							</div>
							<div class="col-lg-10">
								<div style="line-height: 30px;">
									<label style="font-weight: normal"><input type="radio" ng-model="EditCtrl.form.is_global" ng-value="true" /> Everyone can use this macro</label>
								</div>
								<div style="line-height: 30px;">
									<label style="font-weight: normal"><input type="radio" ng-model="EditCtrl.form.is_global" ng-value="false" /> This macro belongs to a specific agent</label>
									<select
										ui-select2
										ng-model="EditCtrl.form.person_id"
										style="min-width: 240px"
										ng-show="!EditCtrl.form.is_global"
									>
										<option ng-repeat="agent in EditCtrl.agents" value="{{ ng_var('agent.id') }}">{{ ng_var('agent.display_name') }}</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-innertable">
						<div class="panel-heading">
							<h3>
								<span>Actions</span>
								<button dp-inhelp-btn="admin.ticket_macros.edit.actions"></button>
							</h3>
						</div>
						<div class="panel-help" dp-inhelp-body="admin.ticket_macros.edit.actions" style="margin-top: 0;">
							<p>
								These actions will apply when the macro is run.
							</p>
						</div>

						<div class="dp-ob-set">
							<div class="dp-ob-setrow">
								<header>
									The followings actions will run:
								</header>
								<article>
									<dp-option-builder types-def="EditCtrl.actionsTypeDef" save-target="EditCtrl.form.actions" options="{tag_first: '', tag_after: 'then'}" option-types="EditCtrl.actionOptionTypes">
										<add-btn-label>Action</add-btn-label>
									</dp-option-builder>
								</article>
							</div>
						</div>
					</div>
				</div>
			</article>

			<footer>
				<div class="dp-content">
					<div class="text-danger ng-hide" ng-show="form_props.$attempted && form_props.$invalid">
						<p><strong>{{phrase('adm.general.please_correct_errors')}}</strong></p>
						<ul>

						</ul>
					</div>
					<div class="dp-btn-controls" ng-hide="form_props.$attempted && form_props.$invalid">
						<div dp-hide-spinning="saving_label">
							<button class="btn btn-primary" dp-submit-form>{{phrase('agent.general.save')}}</button>
						</div>
						<div dp-show-spinning="saving_label">
							<i class="spinner-flat"></i>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</form>
{% endblock %}