<article class="form-horizontal dp-form">
	<div class="panel panel-fill indent">
		<div class="panel-body">
			<div class="alert alert-info">
				<h3>Facebook App Required</h3>
				<p>
					To enable Facebook Authentication, you get your own application key and application secret.
				</p>
				<p>
					<a class="btn btn-default" href="https://developers.facebook.com/docs/opengraph/getting-started#create-app" target="_blank">Create an app &rarr;</a>
				</p>
			</div>
			<!--#include file="AdminInterface/Install/settings-list.html" -->
		</div>
	</div>
</article>