<article class="form-horizontal dp-form">
	<div class="panel panel-fill indent">
		<div class="panel-body">
			<!--#include file="AdminInterface/Install/settings-list.html" -->
		</div>
	</div>
</article>