<form method="POST" class="actions-overlay unlink-issue" data-target="{{ path('jira_unlink',{ticket_id: ticket.id, issue_id: issue_id}) }}" style="width: 350px; height: 186px;">
	<div class="overlay-title">
		<h4>{{ phrase('agent.jira.unlink') }}</h4>
	</div>
	<div class="overlay-content">
		<div class="row">
			<div class="left" style="width: 99%; margin: 0 0 10px;">
				<label for="comment">{{ phrase('agent.jira.post_comment') }} ({{ phrase('agent.jira.optional') }})</label>
			</div>
			<div class="right" style="width: 100%">
				<textarea style="width: 97%" rows="3" id="comment" name="comment"></textarea>
			</div>
		</div>
	</div>
	<div class="overlay-footer">
		<div class="is-not-loading">
			<button type="reset" id="jira-form-cancel" class="close  clean-white">{{ phrase('agent.general.reset') }}</button>
			<button type="submit" id="jira-form-submit" class="export clean-white">{{ phrase('agent.jira.labels.unlink') }}</button>
		</div>
		<div class="is-loading">
			<i class="flat-spinner"></i>
		</div>
	</div>
</form>