{% extends 'AdminInterfaceBundle:Layout:fullpage-pane.html.twig' %}
{% block fullpane_content %}
	<form class="form-horizontal dp-form" role="form" name="form_props" ng-submit="TicketSettings.save()">
		<section class="dp-paneblock dp-listpane">
			<header>
				<h3>{{ phrase('adm.ticket_settings.title') }}</h3>
			</header>

			{##################################################################################################}

			<article class="form-horizontal dp-form">
				<div class="panel panel-innertable">
					<div class="panel-heading">
						<h3>
							<span>Time Log</span>
							<button dp-inhelp-btn="admin.ticket_settings.timelog"></button>
						</h3>
					</div>
					<div class="panel-help" dp-inhelp-body="admin.ticket_settings.timelog">
						<p>
							The Time Log allows agents to record time spent on individual tickets.
						</p>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="inner-group">
								<label>
									<input type="checkbox" ng-model="settings.timelog_enabled" />
									<h4>Enable the ticket time log</h4>
								</label>
										<span class="help-block">
											When enabled, the ticket view in the Agent Interface will include new controls to
											track time.
										</span>
							</div>
							<div class="inner-group" ng-show="settings.timelog_enabled">
								<label>
									<input type="checkbox" ng-model="settings.timelog_autostart" />
									<h4>Automatically start timer</h4>
								</label>
										<span class="help-block">
											When enabled, a timer is started automatically as soon as a ticket is opened in the Agent Interface.
											When the agent replies, the elapsed time can optionally be added to the time log.
										</span>
							</div>
						</div>
					</div>
				</div>
			</article>

			{##################################################################################################}

			<article class="form-horizontal dp-form">
				<div class="panel panel-innertable">
					<div class="panel-heading">
						<h3>
							<span>Ticket Billing</span>
							<button dp-inhelp-btn="admin.ticket_settings.billinglog"></button>
						</h3>
					</div>
					<div class="panel-help" dp-inhelp-body="admin.ticket_settings.billinglog">
						<p>
							Ticket Billing allows agents to record simple monetary amounts on tickets.
						</p>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="inner-group">
								<label>
									<input type="checkbox" ng-model="settings.billinglog_enabled" />
									<h4>Enable the ticket billing</h4>
								</label>
										<span class="help-block">
											When enabled, the ticket view in the Agent Interface will include new controls that allow
											agents to record billing.
										</span>
							</div>
							<div class="inner-group" ng-show="settings.billinglog_enabled">
								<label>
									<h4>Currency Name</h4>
									<input type="text" class="form-control" ng-model="settings.billinglog_currency" style="width: 100px;" />
								</label>
										<span class="help-block">
											This is the currency name displayed in the agent interface in the billing form.
										</span>
							</div>
						</div>
					</div>
				</div>
			</article>

			{##################################################################################################}

			<footer>
				<div class="dp-content">
					<div class="dp-btn-controls" ng-hide="form_props.$attempted && form_props.$invalid">
						<div dp-hide-spinning="saving">
							<button class="btn btn-primary" dp-submit-form>{{ phrase('agent.general.save') }}</button>
							<button class="btn btn-default" ng-click="TicketDepsEdit.resetForm()">{{ phrase('agent.general.reset') }}</button>
						</div>
						<div dp-show-spinning="saving">
							<i class="spinner-flat"></i>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</form>
	<div dp-register-message="saved_settings">Settings saved successfully.</div>
{% endblock %}