<div class="modal-dialog">
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dismiss()">&times;</button>
		<h4 class="modal-title">{{ phrase('adm.feedback_categories.delete_feedback_category') }}</h4>
	</div>
	<div class="modal-body">
		<p>
			{{ phrase('adm.feedback_categories.delete_feedback_category_confirm') }}
		</p>

		<p ng-if="move_feedback_categories_list">
			{{ phrase('adm.feedback_categories.delete_feedback_categories_moved') }}
		</p>

		<p style="margin-bottom: 0;" ng-if="move_feedback_categories_list">
			<select ui-select2 ng-model="selected.move_to_id" style="width: 240px">
				<option value="{{ ng_var('category.id') }}" ng-repeat="category in move_feedback_categories_list">{{ ng_var('category.title') }}</option>
			</select>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="dismiss()"><i class="fa fa-undo"></i> {{ phrase('agent.general.cancel') }}</button>
		<button class="btn btn-danger" ng-click="confirm()"><i class="fa fa-trash-o"></i> {{ phrase('agent.general.delete') }}</button>
	</div>
</div>
</div>