<div class="form-group" ng-if="form.account_type == 'tickets'">
	<div class="col-lg-3">
		<h3>New Ticket Trigger</h3>
	</div>
	<div class="col-lg-9">
		<div class="inner-group">
			Department: <select
				ui-select2="{dropdownAutoWidth:true}"
				ng-model="form.trigger_actions.SetDepartment.options.department_id"
				style="min-width: 240px"
				class="no-search"
			>
				<option value="{{ ng_var('dep.id') }}" ng-repeat="dep in TicketAccountsEdit.deps">{{ ng_var('dep.title_full') }}</option>
			</select>
		</div>

		{# Send newticket auto-response #}
		<div class="inner-group">
			<label style="font-weight: normal">
				<input type="checkbox" ng-model="form.trigger_actions.SendUserEmail.enabled" value="1" />
				Send user an auto-response confirming their new ticket
			</label>
			<div class="ng-hide" ng-show="form.trigger_actions.SendUserEmail.enabled">
				<table class="display-table spaced">
					<tr>
						<td>Template:</td>
						<td>
							<select ui-select2="{dropdownAutoWidth:true}" ng-model="form.trigger_actions.SendUserEmail.options.template" style="min-width: 50px;">
								{% for email in [
								'DeskPRO:emails_user:ticket-new-autoreply.html.twig',
								] %}
									<option value="{{ email }}">{{ email }}</option>
								{% endfor %}
								<option value="CREATE">Create a new template...</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>From Name:</td>
						<td>
							<select ui-select2="{dropdownAutoWidth:true}" ng-model="form.trigger_actions.SendUserEmail.options.from_name" ng-init="" style="min-width: 50px;">
								<option value="helpdesk_name">Helpdesk Name ({{ app.getSetting('core.deskpro_name') }})</option>
								{% if app.getSetting('core.site_name') %}<option value="site_name">Site Name ({{ app.getSetting('core.site_name') }})</option>{% endif %}
								<option value="custom">Enter a custom name</option>
							</select>
							<div style="padding-top: 3px; width: 250px;">
								<input type="text" class="form-control" ng-model="form.trigger_actions.SendUserEmail.options.from_name_custom" ng-show="form.trigger_actions.SendUserEmail.options.from_name == 'custom'" />
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>