<div class="form-group">
	<div class="col-lg-4">
		<h3>Title</h3>
	</div>
	<div class="col-lg-8">
		<input type="text" class="form-control" ng-model="setting_values.dp_app.title" />
		<span class="help-block">
			This title is displayed in the "Installed Apps" and is mainly
			for your own records.
		</span>
	</div>
</div>
<div class="form-group" ng-repeat="setting in pack.settings_def" ng-switch="setting.type" ng-if="setting.type != 'hidden'">
	<div class="col-lg-4">
		<h3>{{ ng_var('setting.label') }}</h3>
	</div>
	<div class="col-lg-8">
		<div ng-switch-when="text">
			<input type="text" class="form-control" ng-model="setting_values[setting.name]" placeholder="{{ ng_var('setting.placeholder') }}" />
		</div>
		<div ng-switch-when="textarea">
			<textarea class="form-control" ng-model="setting_values[setting.name]" placeholder="{{ ng_var('setting.placeholder') }}"></textarea>
		</div>
		<div ng-switch-when="password">
			<input type="password" class="form-control" ng-model="setting_values[setting.name]" placeholder="{{ ng_var('setting.placeholder') }}" />
		</div>
		<div ng-switch-when="checkbox">
			<label>
				<input type="checkbox" ng-model="setting_values[setting.name]" />
				{{ ng_var('setting.checkbox_label') }}
			</label>
		</div>
		<div ng-switch-when="choice">
			<select
				ng-model="setting_values[setting.name]"
				ui-select2="{dropdownAutoWidth: true}"
			>
				<option ng-repeat="opt in setting.options" value="{{ ng_var('opt.value') }}">{{ ng_var('opt.label') }}</option>
			</select>
		</div>
		<span class="help-block" ng-show="setting.description">{{ ng_var('setting.description') }}</span>
	</div>
</div>