{% extends "AdminInterfaceBundle:Layout:widget-modal.html.twig" %}
{% block modal_title %}
	<h4 class="modal-title">
		Upload App
	</h4>
{% endblock %}
{% block modal_body %}
	<article class="form-horizontal dp-form">

		<div class="alert alert-info">
			<p>
				If you have an app file (it should be a .zip file), you can upload it here.
			</p>
			<p>
				If you want more information about how to build and package your own apps, refer to the <a href="http://support.deskpro.com/" target="_blank">Apps Developer Guide</a>.
			</p>
		</div>

		<div class="form-group">
			<div class="col-lg-12">
				<label>
					<input name="upload_app_type" type="radio" ng-model="form.upload_type" value="upload" ng-init="form.upload_type == 'upload'" />
					<h4>Upload app from your computer</h4>
				</label>
				<label style="margin-left: 10px;">
					<input name="upload_app_type" type="radio" ng-model="form.upload_type" value="url" />
					<h4>Upload an app from a URL</h4>
				</label>
s
				<div class="inner-group" ng-show="form.upload_type == 'upload'">
					<form method="POST" enctype="multipart/form-data" file-upload="fileUploadOptions" action="{{ path('api_apps_upload_package') }}" ng-init="queue = []">
						<div type="button" class="fileinput-button btn btn-success" ng-show="!queue.length" ng-init="form.uploadScope = this">
							<span>Select the app ZIP file</span>
							<input type="file" name="file">
						</div>
						<div ng-show="queue.length" style="margin-top: 5px;">
							File: <strong>{{ ng_var('queue[0].name') }}</strong> &nbsp;&nbsp; <button type="button" class="btn btn-default xs" ng-hide="form.is_active" ng-click="queue[0].$cancel()">Cancel</button>
						</div>
					</form>
				</div>
				<div class="inner-group" ng-show="form.upload_type == 'url'">
					Enter the URL to the app ZIP file: <input type="text" ng-model="form.upload_url" class="form-control" style="width: 300px;" placeholder="http://example.com/example-app.zip" />
				</div>
				<div class="alert alert-danger inner-group" ng-show="form.error">
					<span ng-if="form.error == 'general'">There was a problem uploading the app. Please try again.</span>
					<span ng-if="form.error == 'invalid_file'">The file you specified does not appear to be a valid app. Apps must be plain ZIP files (e.g., no encryption).</span>
					<span ng-if="form.error == 'extract_failed'">Unzipping your file failed.</span>
					<span ng-if="form.error == 'invalid_upload'">Please specify a file to upload.</span>
					<span ng-if="form.error == 'invalid_url'">The URL you specified failed to load.</span>
					<span ng-if="form.error == 'no_file'">You did not specify a file.</span>
					<span ng-if="form.error == 'missing_manifest'">The app you uploaded is missing a manifest.json file.</span>
					<span ng-if="form.error == 'invalid_manifest'">The manifest.json file is invalid.</span>
					<span ng-if="form.error == 'invalid_native'">Native apps cannot be uploaded using this installer.</span>
					<span ng-if="form.error == 'install_error'">There was a problem installing the package. Refer to the error log for more information.</span>
				</div>
			</div>
		</div>
	</article>
{% endblock %}
{% block modal_footer %}
	<div ng-hide="form.is_active">
		<button class="btn btn-primary" ng-click="startUpload()">Upload App</button>
	</div>
	<div ng-show="form.is_active">
		<i class="spinner-flat"></i>
	</div>
{% endblock %}