<div class="dp-datepicker">
	<table cellspacing="0" cellpadding="0" width="100%">
		<thead>
			<tr class="header-row">
				<th><button class="nav-btn" ng-click="move(-1)"><i class="fa fa-chevron-left"></i></button></th>
				<th colspan="{{ ng_var('rows[0].length - 2') }}"><button class="title-btn btn-block" ng-click="toggleMode()"><strong>{{ ng_var('title') }}</strong></button></th>
				<th><button class="nav-btn" ng-click="move(1)"><i class="fa fa-chevron-right"></i></button></th>
			</tr>
			<tr class="labels-row" ng-show="labels.length > 0">
				<th class="label-title" ng-repeat="label in labels">{{ ng_var('label') }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rows">
				<td ng-repeat="dt in row" class="day-cell">
					<button class="btn-day" ng-class="{'btn-on': dt.selected}" ng-click="select(dt.date)" ng-disabled="dt.disabled"><span ng-class="{muted: dt.secondary}">{{ ng_var('dt.label') }}</span></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>