{% set field_rendered %}
	{% block field_rendered %}
		{% if field_handler_name == 'Date' %}
			{{ data.value|date('full') }}
		{% elseif field_handler_name == 'Toggle' %}
			{% if data.value == 1 %}
				{{ field_def.getOption('label_text')|default('Checked')|raw }}
			{% else %}
				None
			{% endif %}
		{% else %}
			{{ data.value|raw }}
		{% endif %}
	{% endblock %}
{% endset %}
{% block content %}
	<div class="{{field_type}}_{{field_def.id}} {{field_handler_name}} customfield rendered" id="{{elId}}_rendered_wrap">{% if nl2br %}{{ field_rendered|raw|nl2br }}{% else %}{{ field_rendered|raw|smart_wrap }}{% endif %}{{ field_def.getHtmlOption()|raw }}</div>
{% endblock %}
