<div id="dp_center">
	<div class="collapsed-area" id="dp_right_collapsed">
		<ul id="dp_collapsed_tabs"></ul>
	</div>
	<div id="dp_source">
		<div id="dp_source_loading"></div>
		<div id="dp_source_footer">
			<footer class="results-nav no-click-switch" id="agent_chat_section" data-section-handler="DeskPRO.Agent.WindowElement.Section.AgentChat">
				<div class="cursor">
					<ul id="agent_chat_online_icons">
						{% for agent in agents %}
							<li
								class="{% if agent.id == app.user.id %}agent-me{% else %}agent-{{ agent.id }}{% endif %}"
								style="{% if agent.id != app.user.id and agent.id not in online_agent_ids %}display: none;{% endif %}"
							>
								<i class="agent-inline-icon" style="background-image: url({{ agent.getPictureUrl(16) }});"></i>
							</li>
						{% endfor %}
					</ul>
				</div>
			</footer>
		</div>
	</div>
	<div id="dp_list">
		<div id="dp_list_loading"></div>
	</div>
	<div id="dp_list_resizer"><div></div></div>
	<div id="dp_content">
		<div id="tabNavigationPane">
			<div id="tabNavSelectorLeft">
				<a class="tabSlideLeft"></a>
			</div>
			<div class="deskproTabList">
				<div class="deskproTabListInner">
					<ul class="dp-tab-list">

					</ul>
				</div>
			</div>
			<div id="tabNavSelectorRight">
				<a class="tabSlideRight"></a>
			</div>
		</div>
		<div id="dp_content_wrap">
			<div id="dp_content_info">
				<table cellspacing="0" cellpadding="0" width="100%" height="100%"><tr><td valign="middle">
					<h1>{{ phrase('agent.interface.major_items_appear_here') }}</h1>
				</td></tr></table>
			</div>
		</div>
	</div>
</div>