<dp:subject>{{ticket.subject}}</dp:subject>

<dp:last-reply />

<br /><br />

<dp:ticket-history />

{% if app.isPortalEnabled() %}
	<br /><br />

	{{ phrase('user.emails.ticket_access_ticket_online') }}
	<a href="{{ ticket.link }}">{{ ticket.link }}</a>
{% endif %}