{% extends 'AdminInterfaceBundle:CustomFields:Common/edit.html.twig' %}
{% block topdefault_fields_pre %}
	<div class="form-group" ng-show="EditCtrl.form.is_enabled">
		<div class="col-lg-3">
			<h3>Layouts</h3>
		</div>
		<div class="col-lg-9">
			Select which layouts this field should be added to. You can fine-tune how layouts look (e.g., display order of fields) from
			the <a href="{{ ng_href('tickets.ticket_deps') }}">ticket department</a> section.

			<div style="margin-top: 5px;">
				<div style="width: 45%; float:left;">
					<strong>User Layouts</strong>
					<ul class="checkbox-list" style="min-width: 250px">
						<li ng-repeat="layout in EditCtrl.user_layouts">
							<label>
								<input type="checkbox" ng-model="layout.enabled" />
								<span ng-if="!layout.department">Default Layout</span>
								<span ng-if="layout.department">{{ ng_var('layout.department.title_full') }}</span>
							</label>
						</li>
					</ul>
				</div>
				<div style="width: 45%; float:left;">
					<strong>Agent Layouts</strong>
					<ul class="checkbox-list" style="min-width: 250px">
						<li ng-repeat="layout in EditCtrl.agent_layouts">
							<label>
								<input type="checkbox" ng-model="layout.enabled" />
								<span ng-if="!layout.department">Default Layout</span>
								<span ng-if="layout.department">{{ ng_var('layout.department.title_full') }}</span>
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}