{% extends 'AdminInterfaceBundle:Layout:widget-modal.html.twig' %}
{% block modal_title %}
	<h4 class="modal-title">Delete User Group</h4>
{% endblock %}
{% block modal_body %}
	<div ng-show="group.sys_name">
		<p>
			This is a special built-in user group and cannot be deleted.
		</p>
	</div>
	<div ng-show="!group.sys_name">
		<p>
			Are you sure you want to delete this group? It cannot be undone.== {{ ng_var('group.title') }}
		</p>
	</div>
{% endblock %}
{% block modal_footer %}
	<div ng-show="group.sys_name">
		<button class="btn btn-default" ng-click="dismiss()">Close</button>
	</div>
	<div ng-show="!group.sys_name">
		<div ng-hide="is_loading">
			<button class="btn btn-success" ng-click="dismiss()"><i class="fa fa-undo"></i> {{ phrase('agent.general.cancel') }}</button>
			<button class="btn btn-danger" ng-click="doDelete()"><i class="fa fa-trash-o"></i> {{ phrase('agent.general.delete') }}</button>
		</div>
		<i class="spinner-flat" ng-show="is_loading"></i>
	</div>
{% endblock %}