{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<form class="form-horizontal dp-form" role="form" name="form_props" ng-submit="EditCtrl.restoreAgent()">
		<section class="dp-paneblock dp-editpane">
			<article class="form-horizontal dp-form">
				<div>
					<div class="panel panel-fill indent">
						<div class="panel-body">
							<div class="form-group">
								<div class="col-lg-3">
									<h3>Name</h3>
								</div>
								<div class="col-lg-9">
									<div class="inner-group">
										{{ ng_var('EditCtrl.agent.display_name') }}
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-3">
									<h3>Email</h3>
								</div>
								<div class="col-lg-9">
									<div class="inner-group">
										{{ ng_var('EditCtrl.agent.primary_email.email') }}
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-3">
									<h3>Restore</h3>
								</div>
								<div class="col-lg-9">
									<p>
										Restoring this agent will allow them to log in to the agent interface again using their old credentials.
										They will be restored with the same settings and permissions as they had when they were deleted.
									</p>

									<div dp-hide-spinning="saving">
										<button class="btn btn-primary" dp-submit-form>Restore Agent</button>
									</div>
									<div dp-show-spinning="saving">
										<i class="spinner-flat"></i>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</article>
		</section>
	</form>
	{{ ng_tpl('AdminInterfaceBundle:Agents:reset-password-modal.html.twig') }}
	{{ ng_tpl('AdminInterfaceBundle:Agents:copy-settings-modal.html.twig') }}
	{{ ng_tpl('AdminInterfaceBundle:Agents:delete-modal.html.twig') }}
	{{ ng_tpl('AdminInterfaceBundle:Agents:login-as-modal.html.twig') }}
{% endblock %}