{% extends 'AdminInterfaceBundle:Layout:widget-modal.html.twig' %}
{% block modal_title %}
	<h4 class="modal-title">Reset Password</h4>
{% endblock %}
{% block modal_body %}
	<p>
		The new password will be set immediately and the agent will be logged-out (if they have any active sessions). Additionally,
		all "remember me" cookies will be cleared.
	</p>
	<p>
		Note that the agent will recieve an email confirming the password change.
	</p>
	<p>
		<label><input type="radio" value="random" ng-model="password.mode" /> Randomly generate a new password</label>
	</p>
	<p>
		<label><input type="radio" value="set" ng-model="password.mode" /> Manually enter the new password</label>
		<div ng-show="password.mode == 'set'">
			<input type="text" ng-model="password.manual" class="form-control" placeholder="Enter the new password here" />
			<div style="font-size: 11px;">
				{% if app.getSetting('agent.password_policy.require_num_uppercase') %}{{ phrase('user.profile.register_password_min_uc', {count: app.getSetting('agent.password_policy.require_num_uppercase')}) }}, {% endif %}
				{% if app.getSetting('agent.password_policy.require_num_lowercase') %}{{ phrase('user.profile.register_password_min_lc', {count: app.getSetting('agent.password_policy.require_num_lowercase')}) }}, {% endif %}
				{% if app.getSetting('agent.password_policy.require_num_number') %}{{ phrase('user.profile.register_password_min_num', {count: app.getSetting('agent.password_policy.require_num_number')}) }}, {% endif %}
				{% if app.getSetting('agent.password_policy.require_num_symbol') %}{{ phrase('user.profile.register_password_min_sym', {count: app.getSetting('agent.password_policy.require_num_symbol')}) }}, {% endif %}
				{% if app.getSetting('agent.password_policy.min_length') %}{{ phrase('user.profile.register_password_min_length', {count: app.getSetting('agent.password_policy.min_length')}) }}{% endif %}
			</div>
		</div>
	</p>
{% endblock %}
{% block modal_footer %}
	<div ng-hide="is_saving">
		<button class="btn btn-danger" ng-click="saveResetPassword()">Reset Password</button>
	</div>
	<div ng-show="is_saving">
		<i class="spinner-flat"></i>
	</div>
{% endblock %}