{% extends 'AdminInterfaceBundle:Layout:fullpage-pane.html.twig' %}
{% block fullpane_content %}
	<section class="dp-paneblock dp-panelink">
		<a href="{{ ng_href('tickets.ticket_accounts.emailsources') }}">
			<em><i class="fa fa-chevron-down"></i></em>
			<h3>Incoming Email</h3>
		</a>
	</section>

	<section class="dp-paneblock dp-listpane">
		<header>
			<nav class="dp-blocktabs">
				<menu>
					<button class="btn btn-default dropdown-toggle"><span><i class="fa fa-cog"></i></span> <i class="fa fa-caret-down"></i></button>
					<ul class="dropdown-menu pull-right">
						<li><a ng-click="ViewSource.startDelete()"><i class="fa fa-trash-o"></i> Delete Email</a></li>
						<li><a ng-click="ViewSource.startReprocess()"><i class="fa fa-repeat"></i> Reprocess Email</a></li>
					</ul>
				</menu>
			</nav>
			<h3>Email #{{ ng_var('ViewSource.source.id') }}</h3>
		</header>
		<table class="table">
			<tbody>
				<tr>
					<th width="140">Date</th>
					<td><span am-time-ago="ViewSource.source.date_created" title="{{ ng_var('ViewSource.source.date_created') }}"></span></td>
				</tr>
				<tr>
					<th>Status</th>
					<td>
						{{ ng_var('ViewSource.source.status') }} (<span title="{{ ng_var('ViewSource.source.date_status') }}" am-time-ago="ViewSource.source.date_status"></span>)
						<div ng-if="ViewSource.source.status == 'error'">
							{{ ng_var('ViewSource.source.error_code') }} &middot;
							<button class="btn btn-primary" ng-click="ViewSource.startReprocessEmail()">Reprocess Email</button>
						</div>
					</td>
				</tr>
				<tr>
					<th>Raw "From"</th>
					<td>{{ ng_var('ViewSource.source.header_from') }}</td>
				</tr>
				<tr>
					<th>Raw "To"</th>
					<td>{{ ng_var('ViewSource.source.header_to') }}</td>
				</tr>
				<tr>
					<th>Raw "Subject"</th>
					<td>{{ ng_var('ViewSource.source.header_subject') }}</td>
				</tr>
				<tr>
					<th>
						Raw Source
						<br/>
						<a class="btn btn-default btn-xs" ng-href="{{ ng_var('ViewSource.source.blob.download_url') }}" target="_blank">Download</a>
					</th>
					<td>
						<textarea class="form-control" style="width: 95%; height: 300px; font-family: Monaco, Consolas, monospace;">{{ ng_var('ViewSource.source_raw') }}</textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
{% endblock %}