{% extends 'AdminInterfaceBundle:Layout:widget-modal.html.twig' %}
{% block modal_title %}
	<h4 class="modal-title">Delete</h4>
{% endblock %}
{% block modal_body %}
	<p>
		Are you sure you want to delete this email source? The email source and its process log will be permanently deleted.
	</p>
	<p>
		Note that if this email source created other objects in the database (such as a ticket or reply), that
		object will <em>NOT</em> be deleted. deleting this email only deletes this raw log record; nothing else.
	</p>
{% endblock %}
{% block modal_footer %}
	<div ng-hide="is_loading">
		<button class="btn btn-primary" ng-click="doDelete()"><i class="fa fa-trash-o"></i> Confirm Delete</button>
	</div>
	<div ng-show="is_loading">
		<i class="spinner-flat"></i>
	</div>
{% endblock %}