<article class="form-horizontal dp-form">
	<div class="panel panel-fill indent">
		<div class="panel-body">
			<div class="alert alert-info">
				<h3>Twitter App Required</h3>
				<p>
					To enable Twitter Authentication, you get your own consumer key and consumer secret.
				</p>
				<p>
					<a class="btn btn-default" href="https://dev.twitter.com/apps/new" target="_blank">Create an app &rarr;</a>
				</p>
			</div>
			<!--#include file="AdminInterface/Install/settings-list.html" -->
		</div>
	</div>
</article>