<div class="modal-dialog favicon-modal">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="dismiss()">&times;</button>
			<h4 class="modal-title">Change Favicon</h4>
		</div>
		<div class="modal-body">
			<div class="opt-row" ng-class="{'row-on': form.favicon_choice == 'default'}">
				<label>
					<input type="radio" value="default" ng-model="form.favicon_choice" />
					<img class="favicon" src="/favicon.ico" />
					<strong>Default Favicon</strong>
				</label>
			</div>
			<div class="opt-row" ng-class="{'row-on': form.favicon_choice == 'custom'}" ng-show="custom_favicon_blob_url">
				<label>
					<input type="radio" value="custom" ng-model="form.favicon_choice" />
					<img class="favicon" ng-src="{{ ng_var('custom_favicon_blob_url') }}" class="favicon" />
					<strong>Custom Favicon</strong>
				</label>
			</div>
			<div class="opt-row" ng-class="{'row-on': form.favicon_choice == 'new'}">
				<label>
					<input type="radio" value="new" ng-model="form.favicon_choice" />
					<img ng-src="{{ ng_var('new_blob_url') }}" ng-show="new_blob_url" class="favicon" />
					<strong>New Favicon</strong>
				</label>
				<div ng-show="!custom_favicon_blob_id && form.favicon_choice == 'new'">
					<form id="fileupload"
						method="POST"
						enctype="multipart/form-data"
						file-upload="{autoUpload:true}"
						action="{{ ng_var('upload_url') }}"
					>
						<div class="fileinput-button btn btn-success" ng-show="!active() && !fileSelected && !new_blob_url">
							<span>Upload a new favicon file</span>
							<input type="file" name="upfile">
						</div>

						<div ng-show="active() && fileSelected">
							<i class="spinner-flat"></i>
						</div>

						<p ng-show="new_blob_id">
							File uploaded successfully.
						</p>
						<p ng-show="new_uploaded_failed">
							Only image files are allowed.
						</p>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div ng-hide="favicon_saving">
				<button class="btn btn-default" ng-click="dismiss()"><i class="fa fa-undo"></i> {{ phrase('agent.general.cancel') }}</button>
				<button class="btn btn-success" ng-click="confirm()"><i class="fa fa-save"></i> {{ phrase('agent.general.save') }}</button>
			</div>
			<div ng-show="favicon_saving">
				<i class="spinner-flat"></i>
			</div>
		</div>
	</div>
</div>