{% macro style_row(id, default_portal_style) %}
	<div class="style-row color">
		<div class="color-reset {% if app.getSetting('user_style.' ~ id) != default_portal_style['user_style.' ~ id] %}enabled{% endif %}" data-color-id="bg_color" data-color="{{ default_portal_style['user_style.' ~ id] }}">{{ phrase('admin.general.revert') }} <i style="background-color: {{ default_portal_style['user_style.' ~ id] }}"></i></div>
		<div class="color-swatch color-swatch-icon" data-color-id="{{ id }}" data-color="{{ app.getSetting('user_style.' ~ id) }}">
			<div style="background-color: {{ app.getSetting('user_style.' ~ id) }}"></div>
		</div>
		<label>{{ phrase('admin.portal.color_' ~ id ~ '_title') }}</label>
		<div class="desc">{{ phrase('admin.portal.color_' ~ id ~ '_desc') }}</div>
	</div>
{% endmacro %}

<section id="portal_colors" style="display: none">
	<article>
		<div class="style-section">
			<h4>{{ phrase('admin.general.general') }}</h4>
		</div>
		{% for id in [
			'bg_color', 'body_bg_color', 'text_color', 'meta_text_color',
			'link_color', 'link_color_hover'
		] %}
			{{ _self.style_row(id, default_portal_style) }}
		{% endfor %}

		<div class="style-section">
			<h4>{{ phrase('admin.portal.color_section_header') }}</h4>
		</div>
		{% for id in ['header_bar_bg_color', 'header_text_color', 'header_name_color', 'header_tagline_color', 'header_tabs_link_color'] %}
			{{ _self.style_row(id, default_portal_style) }}
		{% endfor %}

		<div class="style-section">
			<h4>{{ phrase('admin.portal.color_section_main_content') }}</h4>
		</div>
		{% for id in [
			'content_bg_color', 'content_border_color',
			'dark_well_bg_color', 'light_well_bg_color', 'big_header_color'
		] %}
			{{ _self.style_row(id, default_portal_style) }}
		{% endfor %}

		<div class="style-section">
			<h4>{{ phrase('admin.portal.color_section_misc') }}</h4>
		</div>
		{% for id in ['btn_bg1', 'btn_bg2', 'btn_primary_bg1', 'btn_primary_bg2', 'cal_date_bg', 'cal_date_month_bg', 'cal_date_month_text', 'cal_date_text'] %}
			{{ _self.style_row(id, default_portal_style) }}
		{% endfor %}
	</article>
	<footer>
		<button class="btn btn-default apply-trigger">{{ phrase('agent.general.apply') }}</button>
	</footer>
</section>
